.THIS p {
    color:red;
    background:yellow;
}
.THIS h1{
    color:grey;
    background:limegreen;
}
p.THIS {
    color:green;
    background:yellow;
}
h1.THIS{
    color:yellow;
    background:limegreen;
}